@charset "utf-8";

/* ESTILO PARA IMPRESSORAS */

* {
    margin: 10px; padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
    
}

article > h2 {
    text-align: center;
    font-size: 1.3em;
}

article > p {
    text-indent: 4em;
    text-align: justify;
}

article::after {
    content: 'Esse artigo foi impresso através do Curso em Vídeo.';
}